

/*********** Remove default styling ***********/

a {
	color: #000;
	text-decoration: none;
}

li {
	list-style: none;
}

/*********** Mobile Styling ************/

header {
	height: 70px;
	border-bottom: 1px solid #000;
}

h1, nav {
	display: inline-block;
}

h1 {
	margin-left: 20px;
}

nav {
	float: right;

	ul {
		float: right;
		padding-left: 0px;

		li {
			display: inline;
			padding: 10px;
			margin-right: 10px;
		}
	}
}