/* colors */
/*	light brown = A57745
	dark brown = 583C1C
	green = 5CB26A
	purple = 8C59F1
	

/*********** Remove default styling ***********/
a {
  color: #000;
  text-decoration: none; }

li {
  list-style: none; }

/*********** Mobile Styling ************/
/** mobile nav **/
nav ul {
  display: none;
  height: auto; }

#pull {
  display: block;
  background-color: #ccc;
  width: 100%;
  position: relative; }

#pull:after {
  content: "";
  background: url("../img/navicon.png") no-repeat;
  width: 30px;
  height: 40px;
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 10px; }

/** custom BS nav styling **/
.navbar-brand {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 2px; }

.filler {
  height: 40px; }

.banner {
  height: 240px;
  border-bottom: 2px solid #000;
  background-color: #999; }

.navbar-right li {
  text-align: center;
  border-bottom: 1px solid #ddd;
  height: 60px;
  margin-top: 15px; }

.event {
  border-bottom: 1px solid #ddd; }

.event, .listen {
  height: 180px;
  padding-bottom: 20px; }
  .event p, .event button, .listen p, .listen button {
    margin-left: 80px;
    margin-right: 20px; }
  .event h1, .listen h1 {
    padding-left: 20px; }

.col-sm-4 {
  border-left: 1px solid #ddd; }

.splash-about, .watch {
  display: none; }

.about {
  display: inline-block;
  margin-bottom: 30px; }
  .about h2, .about p {
    margin-left: 15px;
    margin-right: 15px; }

.footer {
  height: 70px;
  padding-top: 10px;
  background-color: #ddd; }
  .footer p {
    display: inline;
    float: left;
    margin-bottom: 5px;
    margin-left: 15px; }
  .footer .social-links {
    display: inline;
    float: right;
    padding-left: 0px; }
    .footer .social-links .social-icon {
      display: inline;
      padding-right: 5px;
      margin-right: 15px; }
      .footer .social-links .social-icon a img {
        max-width: 50px;
        max-height: 50px;
        opacity: 0.6; }

/*********** Desktop Styling ************/
@media only screen and (min-width: 768px) {
  /** desktop nav **/
  nav {
    height: 40px;
    width: 100%;
    background: #ccc;
    font-size: 1em;
    font-weight: bold;
    position: relative;
    border-bottom: 2px solid #aaa; }

  nav ul {
    display: block;
    padding: 0;
    margin: 0 auto;
    width: 768px;
    height: 40px; }
    nav ul li:last-child a {
      border-left: 1px solid #aaa; }
    nav ul li {
      display: inline;
      float: right; }
      nav ul li a {
        color: #222;
        display: inline-block;
        width: 100px;
        text-align: center;
        line-height: 40px;
        border-right: 1px solid #aaa;
        box-sizing: border-box; }
      nav ul li a:hover, nav ul li a:active {
        background-color: #ddd; }

  #pull {
    display: none; }

  /** clearfix **/
  .clearfix:before,
  .clearfix:after {
    content: "  ";
    display: table; }

  .clearfix:after {
    clear: both; }

  .clearfix {
    *zoom: 1; }

  /** desktop BS styling **/
  .navbar-brand {
    margin-top: 12px;
    font-size: 3em;
    font-weight: normal; }

  .banner {
    height: 350px; }

  .splash-about {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: inline-block;
    height: 180px; }

  .watch {
    display: inline-block;
    border-left: 1px solid #ddd;
    height: 300px; }
    .watch .screen {
      float: right;
      margin-right: 50px;
      height: 120px;
      width: 200px;
      background-color: #aaa;
      border-radius: 10px; }
      .watch .screen button {
        margin-left: 80px;
        margin-top: 50px; } }

/*# sourceMappingURL=styles.css.map */
