
/* colors */

$background: #F1BA7D;
$borders: #583C1C;
$selected: #A57745;
$action: #8EE59C;
$actionContrast: #C3FFCD;
$contrast: #8C59F1;
$textcolor: #222;
	

/*********** Remove default styling ***********/

a {
	color: #000;
	text-decoration: none;
}

li {
	list-style: none;
}

/*font-family*/

body {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

/*********** Mobile Styling ************/


/** mobile nav **/

nav {
	position: fixed;
	top: 0;
	z-index: 10000;
	width: 100%;
	height: 50px;
	background-color: $background;
	border-bottom: 2px solid $borders;
	ul {
		display: none;
		height: auto;
		background: $background;
		opacity: 0.9;
		padding: 0;
		margin: 0;
		z-index: 9000;
		li {
			padding-bottom: 20px;
			padding-top: 20px;
			text-align: center;
			font-size: 1.2em;
			a {
				color: $textcolor;
				padding: 5px;
				-webkit-transition: background-color .5s;
				transition: background-color .5s;
			}
			a:hover, a:active {
				background-color: $selected;
			}
		}
	}
}

		/*changes the color of the link to a current page.  
		"selected" class is added by PHP to the header include file*/

.selected {
	background-color: $selected;
}

		/*displays and positions navicon in mobile view*/

#navicon {
	background: url('../img/navicon.png') no-repeat;
	width: 30px;
	height: 50px;
	display: inline-block;
	position: absolute;
	right: 15px;
	top: 10px;
}
	
	/** logo styling **/

.logo {
	display: inline-block;
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 1.5;
	margin-top: 4px;
	a {
		color: $textcolor;
		display: inline;
		padding-left: 15px;
	}
}

	/** banner styling **/

.banner {
	height: 190px;
	width: 100%;
	border-bottom: 2px solid $borders;
	background: url('../img/Cathedral1.jpg') no-repeat;
	background-size: cover;
	background-color: $background;
	p {
		color: $background;
		position: absolute;
		top: 40px;
		right: 50px;
		font-size: 1.5em;
		z-index: 10;
		-webkit-animation: groupname 6s 0.5s forwards;
		animation: groupname 6s 0.5s forwards;
	}
}

	/*	animates group name to change color and fade right on page load*/

@-webkit-keyframes groupname {
	from {
		color: $background;
		right: 50;
	}
	to {
		color: $textcolor;
		right: 30;
	}
}

@keyframes groupname {
	from {
		color: $background;
		right: 50;
	}
	to {
		color: $textcolor;
		right: 30;
	}
}

	/*	semi-opaque color layer over banner image */

.banner::after {
	content: "";
	background-color: $background;
	opacity: 0.4;
	margin-top: 50px;
	height: 190px;
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: 2;
}

/*shifts following elements from under the nav*/

.filler {
	height: 50px;
}
/*main content area styling*/

.event, .listen, .splash-about, .watch, .about{
	height: auto;
	padding-bottom: 20px;
	display: inline-block;
	width: 100%;
	p {
		margin-left: 20%;
		padding-right: 15px;
		font-size: .8em;
		a {
			text-decoration: underline;
		}
	}
	h1, h2 {
		font-size: 1.2em;
		margin-left: 20px;
	}
}

	/* events area styling */

.event {
	border-bottom: 1px solid $borders;
	p {
		display: inline-block;
		width: 60%;
		margin-top: 0;
	}
	button {
		display: block;
		margin-left: auto;
		margin-right: auto;
		background-color: $action;
		border: none;
		border-radius: 5px;
		height: 40px;
		width: 140px;
		letter-spacing: 1.2;
		-webkit-transition: background-color .5s;
		transition: background-color .5s;
	}
	button:hover, button:active {
		background-color: $actionContrast;
		border: 2px solid $action;
	}
}

.splash-about, .watch {
	display: none;
}

	/* about area styling */


	.headshot {
		background: url('../img/headshot.jpg') no-repeat;
		background-size: cover;
		height: 200px;
		width: 140px;
		margin-left: 20%;
	}



	/** Footer Styling **/

.footer {
	display: inline-block;
	width: 100%;
	height: 80px;
	background-color: $background;
	p {
		display: inline;
		float: left;
		width: 50%;
		margin-bottom: 5px;
		margin-top: 15px;
		margin-left: 15px;
		font-size: .7em;
		a {
			text-decoration: underline;
		}
	}
	.social-links {
		display: inline-block;
		float: right;
		padding-left: 0px;
		.social-icon {
			display: inline;
			padding-right: 5px;
			margin-right: 15px;
			a img{
				max-width: 50px;
				max-height: 50px;
				opacity: 0.6;
			}
		}
	}
}


/******************DESKTOP   STYLING  ********************/

@media only screen and (min-width : 768px) {

		/*show about and watch sections*/

	.splash-about, .watch {
		display: inline-block;
	}

/*****************GRID***********************/
	.grid-container {
		float: left;
		min-height: 1px;
	}

	.grid-container:first-child {
		left-margin: 0;
	}

	/* Columns are 65px wide, with 20px gutters
	=========================================== */

	.grid-1 {
		width: 6.5%;
	}

	.grid-2 {
		width: 15%;
	}

	.grid-3 {
		width: 23.5%;
	}
	.grid-4 {
		width: 33%;
	}
	.grid-5 {
		width: 41.5%;
	}
	.grid-6 {
		width: 49%;
	}
	.grid-7 {
		width: 58%;
	}
	.grid-8 {
		width: 67%;
	}
	.grid-9 {
		width: 74.5%;
	}
	.grid-10 {
		width: 83%;
	}
	.grid-11 {
		width: 91.5%;
	}
	.grid-12 {
		width: 100%;
	}

	/* Clearfix
	================================ */

	.group:after,
	.grid-container:after {
	  content: " ";
	  display: table;
	  clear: both;
	}

/** desktop nav **/

	nav ul {
		display: inline;
		float: right;
		padding: 0;
		opacity: 1;
		margin: 0 auto;
		li {
			display: inline;
			padding-bottom: 0px;
			a {
				display: inline-block;
				padding: 0;
				width: 100px;
				text-align: center;
				line-height: 50px;
				box-sizing: border-box;
			}
		}
	}

	/*desktop removes navicon*/

	#navicon{
			display: none;
		}

 	/** desktop Banner **/

	.banner {
		height: 300px;
		p {
			top: 280px;
			font-size: 2em;
			margin: 0;
		}
	}

	/*desktop resizes color overlay of banner image*/

	.banner::after {
		height: 300px;
	}

	.watch iframe {
		display: block;
		margin: auto;
	}

	/*  main content area styling  */

	.event, .splash-about{
		height: 150px;
		border-bottom: 1px solid $borders;
	}

	.event, .listen {
		border-right: 1px solid $borders;
	}
		.splash-about {
		overflow: scroll;
	}
}















